header{
  display: flex;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 0px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;

}

.title{
  padding-left: 12px;
  font-size: 14px;
  color: MediumAquamarine;
}

.logo{
  display: flex;
  align-items: center;
}

nav{
  display: block;
  padding-right: 68px;
}

span a{
  padding: 12px;
  color: black;
}

.maincontainer{
  display: flex;
  border: 1px solid black;
  flex-grow: 1;
  justify-content: space-around;
  padding-top: 116px;
}

.columnlarge{
  display: flex;
  border: 1px solid black;
  width: 630px;
  flex-direction: column;
  
}

.columnmedium{
  display: flex;
  border: 1px solid black;
  width: 300px;
  flex-direction: column;
}

.columnsmall{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 240px;
}

.article1
.article2
.article3
.article4
.article5
.article6
.article7
.article8
{
  border: 1px solid black;
}

#titleimage1{
  margin-top: 0px;
  background-image: url(../images/img-story-main.png);
  height: 300px;
}
