header{
  display: flex;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.title{
  padding-left: 12px;
  font-size: 14px;
  color: MediumAquamarine;
}

.logo{
  display: flex;
  align-items: center;
}

nav{
  display: block;
}

span a{
  padding: 12px;
  color: black;
}

.maincontainer{
  display: flex;
  border: 1px solid black;
  flex-grow: 1;
  justify-content: space-around;
}

.columnlarge{
  display: flex;
  border: 1px solid black;
  width: 630px;
  flex-wrap: wrap;
}

.columnmedium{
  display: flex;
  border: 1px solid black;
  width: 300px;
  flex-wrap: wrap;
}

.columnsmall{
  display: flex;
  border: 1px solid black;
  width: 240px;
  flex-wrap: wrap;
}

.article6
.article1
{
  border: 1px solid black;
}

img{
  
}
